.git
.gitignore
.next
node_modules
**/node_modules
**/.next
**/out

.env
.env.*
!.env.example
!backend/env.example

.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
*.tsbuildinfo
