@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-cormorant: "Cormorant", serif;
  --font-mulish: "Mulish", sans-serif;

  /* Set Mulish as the default font */
  --font-sans: "Mulish", sans-serif;
}